<% layout('layouts/boilerplate')%> <%- include("../partials/flash") %>
<link rel="stylesheet" type="text/css" href="/css/starability-basic.min.css" />
<link rel="stylesheet" href="/css/mapbox-gl.css">

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div
                id="carouselControls"
                class="carousel slide"
                data-bs-ride="carousel"
            >
                <div class="carousel-inner">
                    <% campground.images.forEach((image, index) => { %>
                        <div class="carousel-item <%= index === 0 ? "active" : "" %>">
                            <img
                                src="<%= image.url %>"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                    <% }) %>
                </div>
                <% if(campground.images.length > 1) { %>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselControls"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselControls"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= campground.location %>
                </li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
                <li class="list-group-item">
                    <span class="text-muted">Written by </span><%=
                    campground.author.username %>
                </li>
            </ul>
            <% if(currentUser && campground.author.equals(currentUser._id)) { %>
            <div class="card-body">
                <a
                    class="card-link btn btn-info"
                    href="/campgrounds/<%= campground._id %>/edit"
                    >Edit</a
                >
                <form
                    class="d-inline"
                    action="/campgrounds/<%= campground._id %>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted"><%= campground.date %></div>
        </div>
    </div>

    <div class="col-6">
        <div id="map" style="width: 100%; height: 300px"></div>

        <% if(currentUser) { %>
        <h2>Leave a Review</h2>
        <form
            action="/campgrounds/<%= campground._id %>/reviews"
            method="POST"
            class="mb-3 needs-validation"
            novalidate
        >
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <input
                        type="radio"
                        id="no-rate"
                        class="input-no-rate"
                        name="rating"
                        value="0"
                        checked
                        aria-label="No rating."
                    />
                    <input
                        type="radio"
                        id="first-rate1"
                        name="rating"
                        value="1"
                    />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input
                        type="radio"
                        id="first-rate2"
                        name="rating"
                        value="2"
                    />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input
                        type="radio"
                        id="first-rate3"
                        name="rating"
                        value="3"
                    />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input
                        type="radio"
                        id="first-rate4"
                        name="rating"
                        value="4"
                    />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input
                        type="radio"
                        id="first-rate5"
                        name="rating"
                        value="5"
                    />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="invalid-feedback">Rating field is required</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea
                    class="form-control"
                    name="body"
                    id="body"
                    cols="30"
                    rows="3"
                    required
                ></textarea>
                <div class="invalid-feedback">Review body is required</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %> <% for(let review of campground.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= review.author.username %></h5>
                <p
                    class="starability-result"
                    data-rating="<%= review.rating %>"
                >
                    Rated: <%= review.rating %> stars
                </p>
                <p class="card-text">Review: <%= review.body %></p>
                <% if(currentUser && review.author.equals(currentUser._id)) { %>
                <form
                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script src="/javascript/forms-validation.js"></script>

<script src="/javascript/mapbox/mapbox-gl.js"></script>
<script>
    const mapboxToken = "<%- process.env.MAPBOX_TOKEN %>";
    const campground = <%- JSON.stringify(campground) %>;
</script>
<script src="/javascript/mapbox/map.js"></script>

